* {
  margin: 0;
  padding: 0px 0px 0px 0px;
}

body {
  background-color: $white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $active;
}
*::selection {
  background-color: yellowgreen;
}
.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 1200px){
  width: 1200px;

}
}
.flexbox {
  
  @media screen and (min-width: 768px){
  display: flex;
  justify-content: space-between;
  align-items: center;

}
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  text-align: center;

  @media screen and (min-width: 1200px){
    text-align: left;

  }
}
h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto";

  @media screen and (min-width:1200px){
    margin-bottom: 55px;
  }
}
h3 {
  font-size: 16px;
}

p {
  margin: 0 0 0px 0;
}


.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.invisible {
  display: none;
}

.animation {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button {
   background-color: #fff;
   border:none;
}


