.maininfo {
height: 400px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-mobile.jpg);
background-repeat: no-repeat, no-repeat;
background-position-x: center, center;
padding-top: 88px;

text-align: center;


@media screen and (min-width: 1200px){
   height: 600px;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 100%), url(../images/webstudio-banner.jpg);
    background-size: 1600px, 1600px;
padding-top: 200px;
}
}
.mainslogan {
padding: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 42px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: $white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

@media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 60px;
}
}

.order-service {
width: 200px;
height: 50px;
background-color: $blue;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
text-align: center;
letter-spacing: 0.06em;
padding: 10px 30px;
color: $white;
border:none;
border-radius: 4px;
cursor: pointer;
}

